html{
  color-scheme: dark;}

  button{
   margin: 10px;
  }

  input{
    width: 100px;
    line-height: 100px;
    margin: 6px;
    text-align: center;
    border: 2px solid peru;
    font-size: 2rem;
    border-radius: 20px;

  }